<div class="pinterest_header">
    <div>
        <h1 class="pinterest_logo" style="margin-bottom: 1.5rem;">
            Pinterest
        </h1>
    </div>
    <div>
        <a href="{% url 'articleapp:list' %}" class="mx-1">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="mx-1">
            <span>Projects</span>
        </a>
        <a href="{% url 'subscribeapp:list' %}" class="mx-1">
            <span>Subscription</span>
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{request.path}}" name="next" value="{{ request.path }}" class="mx-1">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}">
            <span>signup</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="mx-1">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}" class="mx-1">
            <span>logout</span>
        </a>
        {% endif %}
    </div>
</div>