{% extends 'base.html' %}

{% block content %}

<div style="text-align: center; max-width: 400px; margin: 4rem auto;">
    
    <h1 style="margin-bottom: 1rem;">
        {{ target_article.title }}
    </h1>

    <div style="height: 2rem;">
        <a href="{% url 'likeapp:like' pk=target_article.pk  %}">
            {% if target_article.like == 0 %}
                <i style="vertical-align: middle; font-size: 1.2rem; color: #f77;" class="material-icons">
                    favorite_border
                </i>
            {% else %}
                <i style="vertical-align: middle; font-size: 1.2rem; color: #f77;" class="material-icons">
                    favorite
                </i>
            {% endif %}
        </a>
        <span style="vertical-align: middle; font-size: 1.2rem;">
            {{ target_article.like }}
        </span>
    </div>

    <h4 style="margin-bottom: 1rem;">
        {{ target_article.writer.profile.nickname }}
    </h4>

    <img style="width: 100%; border-radius: 1rem;"
        src="{{ target_article.image.url }}" alt="">

    <p style="margin-top: 1rem;">
        {{ target_article.content | safe }}
    </p>

    {% if target_article.writer == user %}
        <a class="btn btn-primary rounded-pill col-3" 
            href="{% url 'articleapp:update' pk=target_article.pk %}" style="text-align: center">
            Update
        </a>

        <a class="btn btn-danger rounded-pill col-3" 
            href="{% url 'articleapp:delete' pk=target_article.pk %}" style="text-align: center">
            Delete
        </a>
    {% endif %}
    
    <hr>

    {% for comment in target_article.comment.all %}
        {% include 'commentapp/detail.html' with comment=comment %}
    {% endfor %}

    {% include 'commentapp/create.html' with article=target_article %}
</div>


{% endblock content %}